.InfoExhi {
    text-align: center;
    font-family: "KoPubWorldBatang_Pro";
    position: relative; /* relative 포지션 추가 */
    z-index: 1;
}

.InfoDate{
    text-align: center;
    height: 10px;
    /*text-align: center;*/
    display: flex;

}

.InfoDate2{
    text-align: center;
    /*background-color: rgba(254, 175, 168, 1);*/
    color: rgba(254, 175, 168, 1);
    width: fit-content;
    /*margin-left: 37%;*/
    /*text-align: center;*/
    
    margin: 0 auto;
    /*line-height:fit-content;*/


}

.InfoTitle {
    text-align: center;
    display: flex; /* 자식 요소를 가로로 배치하기 위해 flexbox 사용 */
    align-items: center; /* 수직 정렬을 위해 추가 */
    margin-left: 43%;
    
    font-family: "KoPubWorldBatang_Pro";
    font-size: 16px;
} 
.titletxt{
    justify-content: center;
}

.Poster {

}

.info-title-circle {
    margin-left: 5px;
    margin-top: 8px; /* 예시로 간격을 줍니다. */
} 

.InfoDetail {
    margin-left: 12%;
    font-family: "KoPubWorldBatang_Pro";
    font-size: 12px;
    text-align: center;
    margin-right: 10%;
}

.InfoBlank{
    line-height: 50px;
}