@font-face {
    font-family: "KoPubWorldBatang_Pro";
    src: url("/public/fonts/KoPubWorld\ Batang_Pro\ Medium.otf") ;
    font-weight: normal;
    font-style: normal;
}

.InfoExhi {
    margin-top: 5%;
    text-align: center;
    font-family: KoPubWorldBatang_Pro;
    position: relative; /* relative 포지션 추가 */
    z-index: 1;
}

.InfoDate{
    height: 10px;
    
}

.InfoDate2{
    background-color: rgba(254, 175, 168, 1);
    width: fit-content;
    margin-left: 37%;
}

.InfoTitle {
    display: flex; /* 자식 요소를 가로로 배치하기 위해 flexbox 사용 */
    align-items: center; /* 수직 정렬을 위해 추가 */
    margin-left: 40%;
    font-family: KoPubWorldBatang_Pro;
    font-size: 16px;
} 

.info-title-circle {
    /* info-title-circle에 대한 스타일을 추가할 수 있습니다. */
    margin-left: 5px;
    margin-top: 8px; /* 예시로 간격을 줍니다. */
} 

.InfoDetail {
    margin-left: 12%;
    font-family: KoPubWorldBatang_Pro;
    font-size: 12px;
    text-align: left;
    margin-right: 10%;
}

.InfoBlank{
    line-height: 50px;
}