@font-face {
    font-family: "KoPubWorldBatang_Pro";
    src: url("/public/fonts/KoPubWorld\ Batang_Pro\ Medium.otf") ;
    font-weight: normal;
    font-style: normal;
}

.LastExhiBody {
    margin-top: 10%;
}

.LastExhiTitle {
    display: flex; /* 자식 요소를 가로로 배치하기 위해 flexbox 사용 */
    align-items: center; /* 수직 정렬을 위해 추가 */
    margin-left: 70%;
    margin-right: 5%;
    font-family: KoPubWorldBatang_Pro;
    font-size: 16px;
}

.LastExhiTitle2 {
    margin-right: 5%;
    font-family: KoPubWorldBatang_Pro;
    font-size: 20px;
    text-align: right;
    word-wrap: break-word;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
}

.LastExhiTitleDetail {
    margin-right: 5%;
    text-align: right;
    font-size: 12px;
    font-family: KoPubWorldBatang_Pro;
    margin-left: 5%
}


.ExhiTitleCircle {
    margin-left: 5px;
    margin-top: 8px;
}

.FinalPosterImg {
    width: 246px;
    height: 328px;
    margin-left: 25%;
}

.PosterContent{
    align-items: center;
}


.LastExhiContent{
    display: flex; /* 자식 요소를 가로로 배치하기 위해 flexbox 사용 */
    /* align-items: center;  수직 정렬을 위해 추가 */
    margin-left: 5%;
    
    margin-right: 5%;
    font-family: KoPubWorldBatang_Pro;
    font-size: 16px;
    color: #606060;
}

.LastExhiPosterImg {
    margin-right: 105px;
    margin-top: 100px;
}

.LastExhiPosterDetail {
    font-size: 12px;
    font-family: KoPubWorldBatang_ProMedium;
    text-align: left;
    margin-left: 20px;
    width: 208px;
    height: 35px;
}