@font-face {
    font-family: "KoPubWorldBatang_Pro";
    src: url("/public/fonts/KoPubWorld\ Batang_Pro\ Medium.otf") ;
    font-weight: normal;
    font-style: normal;
}

.InfoMap {
    font-family: KoPubWorldBatang_Pro;
    position: 'relative';
    top: '20px'}

.info-container {
    display: flex;
    flex-direction: column;
}

.map-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column; /* Change to column layout */
    font-size: 16px;
    margin-top: 10%;
}

.map-api {
    display: flex;
    flex-direction: column; /* Set flex-direction to column */
}

.detailAddress {
    color: #808080;
    font-size: 8px;
}

.info-map-circle {
    object-fit: cover;
    width: 4px;
    height: 9px;
    margin-top: 30px;
    margin-left: 5px;
}

.address-txt {
    font-size: 13px;
}
