@font-face {
  font-family: "KoPubWorldBatang_Pro";
  src: url("/public/fonts/KoPubWorld\ Batang_Pro\ Medium.otf") ;
  font-weight: normal;
  font-style: normal;
}

.Goodspage {
  text-align: center;
  height: 100vh; 
  overflow-y: hidden ;
}

.all{
  margin-top: 20%;
  margin-bottom: 20%;
  text-align: center;
  font-family: "KoPubWorldBatang_Pro";

}

.header2{
  align-items: center;
  width: 100%;
  z-index: 1; 
}

.header2 .text1{
  font-family: "KoPubWorldBatang_Pro";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

.header2 .text2{
  color: #808080;
  font-family: "KoPubWorldBatang_Pro";
  font-size: 12px;
  font-weight: 100;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px; 

}


.vector2 {
  margin-left: 15px;
  width: 9px;
  height: 9px;
  background-color: white; 
  transition: background-color 0.1s; 
}


.list{
  margin-top: 30px;
}

.App .container {
  display: flex;
  margin:20px;

}

.App .inner {
  margin-top: 20px;
}

.form{
  font-family: "KoPubWorldBatang_Pro";
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  margin-right: 30px;
  margin-top: 50px; 

}

.form button{
  margin-top:10px;
  font-family: "KoPubWorldBatang_Pro";
  background-color: white;
}

.slide{
  height: 30px;
  width: 30px;
}