@font-face {
  font-family: "KoPubWorldBatang_Pro";
  src: url("/public/fonts/KoPubWorld\ Batang_Pro\ Medium.otf") ;
  font-weight: normal;
  font-style: normal;
}

.Guestbook {
  text-align: center;
  overflow-y: scroll; 
  
  scroll-snap-type: y mandatory;
  height: 100vh; /* 각 페이지의 높이를 화면 크기만큼 설정 */
  scroll-snap-align: start; /* 페이지 정렬 위치 설정 */
}


.container{
  margin-top: 10%;
  text-align: center;
  overflow-y: scroll; 
}

.header-guest .text1{
  font-family: "KoPubWorldBatang_Pro";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}
.header-guest{
  /*width: 100%;*/
  width: fit-content;/*바꾼것*/
  margin: 0 auto; /*추가한것*/
  
  padding: 10px; 
  z-index: 1; 
}

.header-guest .text2{
  color: #808080;
  font-family: "KoPubWorldBatang_Pro";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.write-button{
  display : block;
  padding: 5px;
  margin: 10px;
  width: 60px;
  height: 20px;
  flex-shrink: 0;
  text-align: center;
  font-size: 12px;
  font-family: "KoPubWorldBatang_Pro";
  color:#fff;
  background-color: #000000;
  margin-left: 40%;
}

.text3{
  display: flex; 
  flex-basis: 100%; 
  align-items: flex-end; 
  color: rgba(0, 0, 0, 0.35); 
  font-size: 12px; 
  margin: 8px 0px;
}

.text3::after{
  content: "";
  flex-grow: 1;
  margin: 0px 8px;
  background: rgba(0,0,0,0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.color-box-container{
  font-size: 12px;
  /*margin-left: 3%;*/
  margin: 0 auto;
}

.color-box{
  padding: 10px;
  margin: 10px;
  width: 290px;
  height: 20px;
}

.more{
  color: #808080;
  font-size: 12px;
}