.blind{
  font-family: KoPubWorldBatang_Pro;
  font-size: 20px;
  font-weight: 500;
}


.menu {
  margin:5px;
  display: flex;
  align-items: center;
  margin-left: 135px;
  justify-content: space-between;
}

.menu p{
  text-align: center;
  font-family: KoPubWorldBatang_Pro;
  font-size: 14px;
  margin: 0px;
}

.menu img {
  width: 30px; /* 너비 조절 */
}

.main img{
  width:350px;
}


.blind h1{
  line-height: 50px;
  margin-left: 20px;
  text-align: left;
}

.blind2 p{
  text-align: right;
  margin-right: 30px;
  font-family: KoPubWorldBatang_Pro;
  font-size: 10px;
}

nav{
  position: fixed;
  top: 0;
  width:100%;
  height:2em;
  background-color: rgba(230, 144, 193, 0.508);
}

