.blind{
  font-family: "Kopub-bold";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0em;
}


.menu {
  font-family: "Kopub-bold";
  margin:20px;
  display: flex;
  align-items: center;
  margin-left: 135px;
  justify-content: space-between;
}

.menu p{
  text-align: center;
  font-family: "Kopub-light";
  font-size: 14px;
  margin: 0px;
}

.menu img {
  width: 30px; /* 너비 조절 */
}

.main img{
  width:350px;
}


.blind h1{
  line-height: 50px;
  margin-left: 20px;
  text-align: left;
}

.blind2 p{
  text-align: right;
  margin-right: 30px;
  font-family: "Kopub-light";
  font-size: 10px;
}

.main div:nth-child(2){
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 20px;
  flex-shrink: 0;
  text-align: center;
  font-size: 15px;
  font-family: "Kopub-light";
  color:#fff;
  background-color: #000000;
  margin-left: auto;
}

.main div:nth-child(3){
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 20px;
  flex-shrink: 0;
  text-align: center;
  font-size: 15px;
  font-family: "Kopub-light";
  color:#fff;
  background-color: #000000;
  margin-left: auto; /* Add this line */
}