.recommendLayout{
    margin-top: 50px;
    width: 390px;
    height: 800px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.startPageLayout{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    height:100%;
    padding-top:100px;
}

.startLogo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startLogo div:nth-child(1){
    justify-content: center;
    display: flex;
    width: 100%;
    height: 25px;
    flex-shrink: 0;
    font-family: "Kokoro";
    margin: 30px;
    color: #B6E8D7;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}

.startLogo div:nth-child(2){
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: 25px;
    flex-shrink: 0;
    font-weight: 700;
    font-family: KoPubWorldBatang_Pro;
    font-size: 20px;
    justify-content: center;
}

.startLogo div:nth-child(3){
    display: flex;
    width: 100%;
    height: 36px;
    margin-top: 30px;
    flex-shrink: 0;
    font-family: "KoPubWorldDotum_Pro";
    justify-content: center;
}

.startButton {
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 92px;
    height: 25px;
    flex-shrink: 0;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    font-family: "KoPubWorldDotum_Pro";
    color: #fff;
    background-color: #000000;
    align-items: center;
    margin: 0 auto; /* 가로 중앙 정렬을 위해 추가된 부분 */
}

.questionLayout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
    width: 100%;
    max-width: 900px;
    height: 50%;
    overflow:hidden;   
}

.questTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding:15px;
    font-family: KoPubWorldDotum_Pro;
}

.questTitle div:nth-child(1){
    display: flex;
    flex:5;
}
.questTitle div:nth-child(2){
    display: flex;
    flex:1;
}

.questionList{ 
    font-family: KoPubWorldBatang_Pro;
    flex-direction: column;
    height:100%;
    overflow: scroll;
    scrollbar-width: none;
    align-items: center;
}

.questionList::-webkit-scrollbar{
    display: none;
}

.questionItemLayout{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    margin: 10px 15px 5px 15px;
}

.answerItemLayout{
    width: 100%;
    background-color: #fff;
    padding-bottom:10px;
    display:flex;
    flex-direction: column;
    margin-bottom:25xp;
}

.aChatBox div:nth-child(1){
    display: flex;
    flex:1;
    padding:10px;
    box-sizing: border-box;
}

.aChatBox div:nth-child(2){
    padding:10px;
}

.answerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    height: 25px;
    text-align: center;
    box-shadow: 2px 2px 0px #ededed;
    border: 1px solid #ededed;
    margin: 0px 2p 15px 20px;
    font-family: "KoPubWorldDotum_Pro"; /*bold가 낫나 light가 낫나*/
}

.resultLayout{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 390px;
    height: 800px;
}

.resultTitle{
    color: #000;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'KoPubWorldDotum_Pro';
    flex-direction: row;
    margin: 10px;
    margin-left:20px;
}

.resultTitle div:nth-child(1){
    display: flex;
    flex:5;
}
.resultTitle div:nth-child(2){
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 20px;
    flex-shrink: 0;
    text-align: center;
    font-size: 15px;
    font-family: "KoPubWorldBatang_Pro";
    color:#fff;
    background-color: #000000;
}

.poetLayout{
    display: flex;
    margin:30px;
    flex-direction: column;
}

.poetTitle{
    display: flex;
    font-family: 'KoPubWorldBatang_Pro';
    font-size: 25px;
}

.poetAuthor{
    margin-top: 10px;
    font-size: 16px;
    font-family: 'KoPubWorldBatang_Pro';
    display: flex; /* 추가: poetAuthor를 flex container로 만듦 */
}

.poetContents{
    margin-top: 20px;
    font-size: 13px;
    font-family: KoPubWorldDotum_Pro;
    display: flex;
}